pipeline/onpirsm_adls_sales_DYNAMIC.json
{
	"name": "onpirsm_adls_sales_DYNAMIC",
	"properties": {
		"activities": [
			{
				"name": "get_sales_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.WWI_METADATA_SALES\nWHERE STATUS ='ACTIVE'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sales_linkedin_onpersim",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_sales_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_sales_tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "APPEND_LIST_SALES",
								"value": {
									"value": "@item().DATASET_NAME",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SALES_FINALY",
								"value": {
									"value": "@variables('APPEND_LIST_SALES')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch2",
							"type": "Switch",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().DATASET_DESCRIPTION, '.')[0]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SALES",
										"activities": [
											{
												"name": "If Condition1_copy1",
												"type": "IfCondition",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"expression": {
														"value": "@greater(activity('Lookup_RowCount').output.value[0].T, 0)",
														"type": "Expression"
													},
													"ifTrueActivities": [
														{
															"name": "Copy data1_copy1",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "SqlServerSource",
																	"sqlReaderQuery": {
																		"value": "@concat('SELECT * FROM Sales.',item().DATASET_NAME,' WHERE LastEditedWhen>','''',item().LAST_LOAD_TIME,'''')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "DelimitedTextSink",
																	"storeSettings": {
																		"type": "AzureBlobFSWriteSettings"
																	},
																	"formatSettings": {
																		"type": "DelimitedTextWriteSettings",
																		"quoteAllText": true,
																		"fileExtension": ".txt"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "SALES_SOURCE",
																	"type": "DatasetReference",
																	"parameters": {
																		"TABLE_NAME": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		},
																		"SCHEMA_NAME": "SALES"
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "SALES_ADFS",
																	"type": "DatasetReference",
																	"parameters": {
																		"TABLE_NAME": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "Stored procedure1_copy1",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Copy data1_copy1",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[UpdateWatermark_WWI_METADATA_SALES]",
																"storedProcedureParameters": {
																	"CurrentDateTime": {
																		"value": {
																			"value": "@utcNow()",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"DatasetName": {
																		"value": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "LS_OnPrem_SQLServer_WWI",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											}
										]
									},
									{
										"value": "Application",
										"activities": [
											{
												"name": "If Condition1_copy2",
												"type": "IfCondition",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"expression": {
														"value": "@greater(activity('Lookup_RowCount').output.value[0].T, 0)",
														"type": "Expression"
													},
													"ifTrueActivities": [
														{
															"name": "Copy data1_copy2",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "SqlServerSource",
																	"sqlReaderQuery": {
																		"value": "@concat('SELECT * FROM Sales.',item().DATASET_NAME,' WHERE LastEditedWhen>','''',item().LAST_LOAD_TIME,'''')",
																		"type": "Expression"
																	},
																	"queryTimeout": "02:00:00",
																	"partitionOption": "None"
																},
																"sink": {
																	"type": "DelimitedTextSink",
																	"storeSettings": {
																		"type": "AzureBlobFSWriteSettings"
																	},
																	"formatSettings": {
																		"type": "DelimitedTextWriteSettings",
																		"quoteAllText": true,
																		"fileExtension": ".txt"
																	}
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "SALES_SOURCE",
																	"type": "DatasetReference",
																	"parameters": {
																		"TABLE_NAME": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		},
																		"SCHEMA_NAME": "SALES"
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "SALES_ADFS",
																	"type": "DatasetReference",
																	"parameters": {
																		"TABLE_NAME": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		}
																	}
																}
															]
														},
														{
															"name": "Stored procedure1_copy2",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Copy data1_copy2",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "0.12:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[dbo].[UpdateWatermark_WWI_METADATA_SALES]",
																"storedProcedureParameters": {
																	"CurrentDateTime": {
																		"value": {
																			"value": "@utcNow()",
																			"type": "Expression"
																		},
																		"type": "DateTime"
																	},
																	"DatasetName": {
																		"value": {
																			"value": "@item().DATASET_NAME",
																			"type": "Expression"
																		},
																		"type": "String"
																	}
																}
															},
															"linkedServiceName": {
																"referenceName": "LS_OnPrem_SQLServer_WWI",
																"type": "LinkedServiceReference"
															}
														}
													]
												}
											}
										]
									},
									{
										"value": "Case3"
									}
								]
							}
						},
						{
							"name": "Copy data1_copy1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "@concat('SELECT * FROM Sales.',item().DATASET_NAME,' \nWHERE LastEditedWhen>','''',item().LAST_LOAD_TIME,'''')",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SALES_SOURCE",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										},
										"SCHEMA_NAME": "SALES"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SALES_ADFS",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_NAME": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1_copy1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark_WWI_METADATA_SALES]",
								"storedProcedureParameters": {
									"CurrentDateTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DatasetName": {
										"value": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_OnPrem_SQLServer_WWI",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup_RowCount",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT COUNT(*) AS T FROM Sales.', item().DATASET_NAME, ' WHERE LastEditedWhen > ''', item().LAST_LOAD_TIME, '''')\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "sales_linkedin_onpersim",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Stored procedure1_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/azure30data@gmail.com/csv",
								"baseParameters": {
									"fileName": {
										"value": "@item().DATASET_NAME",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"APPEND_LIST_SALES": {
				"type": "Array"
			},
			"SALES_FINALY": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "aravind/2611"
		},
		"annotations": []
	}
}