pipeline/WWI_Daily_Load.json
{
	"name": "WWI_Daily_Load",
	"properties": {
		"activities": [
			{
				"name": "Get-Tables-List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM WWI_METADATA WHERE STATUS='Active'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Get_Tables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate_Each_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get-Tables-List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get-Tables-List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM Sales.',item().DATASET_NAME,' WHERE LastEditedWhen>','''',item().LAST_LOAD_TIME,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Generic_SQL_OnPrem",
									"type": "DatasetReference",
									"parameters": {
										"p_table_name": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSV_ADLS_Generic",
									"type": "DatasetReference",
									"parameters": {
										"p_file_name": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update_WaterMark _WWI_Metadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWatermark_WWI_METADATA]",
								"storedProcedureParameters": {
									"CurrentDateTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DatasetName": {
										"value": {
											"value": "@item().DATASET_NAME",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_OnPrem_SQLServer_WWI",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Nandu_pl"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-25T15:57:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}